@charset "UTF-8";
* {
  margin: none;
  padding: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  border-color: none;
}

#intro {
  background-image: url(../img/banner.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 550px;
  width: 100%;
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}

#intro .intro__container {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__titulo {
  width: 150px;
  height: auto;
  color: #616161;
  text-align: center;
  font-size: 30px;
  font-family: "Playfair Display", serif;
  padding-bottom: 10px;
}

.intro_button a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: white;
  width: 160px;
  height: 30px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background-color: #616161;
  border-radius: 5px;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#intro .intro_button a:hover {
  background-color: #ffeef7;
  color: #616161;
}

#nosotros {
  height: 600px;
  width: auto;
  background-color: #ffeef7;
  color: #616161;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nosotros h2.nosotros__subtitulo {
  padding-bottom: 5px;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 30px;
}

#nosotros .nosotros__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nosotros .nosotros__intro div.separator {
  width: 100px;
  height: 1px;
  background: #688073;
  margin: 25px 0px;
}

#nosotros .nosotros__intro p {
  width: 280px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

#nosotros .nosotros__intro strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-bottom: 50px;
}

#nosotros .nosotros__button a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  width: 100px;
  height: 30px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background-color: #616161;
  color: #ffeef7;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nosotros a:hover {
  background-color: #e7dcdc;
  color: #616161;
}

#nosotros-html {
  height: 700px;
  right: auto;
  z-index: 999;
  background-color: #ffeef7;
  color: #616161;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#nosotros-html h2 {
  font-size: 30px;
  font-family: "Playfair Display", serif;
}

.nosotros-html__texto {
  height: 500px;
  width: 100%;
  background-color: #f8f9fa;
  color: #616161;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nosotros-html__texto .nosotros-html__texto1 h4 {
  padding: 10px 0px;
  font-family: "Playfair Display", serif;
}

.nosotros-html__texto div.separator {
  width: 100px;
  height: 1px;
  background: #688073;
  margin: 20px 0px;
}

.nosotros-html__texto p {
  width: 250px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-bottom: 10px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.video {
  height: 700px;
  width: 100%;
  background-color: #e7dcdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video .video__home {
  height: 400px;
  width: auto;
  border-radius: 8px;
  display: block;
  -webkit-box-shadow: 0px 0px 40px -17px black;
          box-shadow: 0px 0px 40px -17px black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Playfair Display", serif;
  font-size: 30px;
}

.video div.video__subtitulo1 {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  padding-top: 40px;
  color: #616161;
}

.video div.video__subtitulo1 div.separator {
  width: 100px;
  height: 1px;
  background: #688073;
  margin-top: 20px;
}

.video div.video__subtitulo2 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #616161;
}

#productos .card-title {
  font-family: "Playfair Display", serif;
  font-size: 30px -10px;
}

#productos .card-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

#lanzamientos {
  height: 800px;
  width: 100%;
  background-color: #ffeef7;
  color: #616161;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#lanzamientos #texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lanzamientos #texto h2 {
  padding-bottom: 20px;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  text-align: left;
  -ms-flex-line-pack: left;
      align-content: left;
}

#lanzamientos #texto .separator {
  width: 100px;
  height: 1px;
  background: #688073;
  margin-bottom: 20px;
}

#lanzamientos #texto p {
  width: 280px;
  height: auto;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

#lanzamientos div img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-transition: 2s;
  transition: 2s;
}

#lanzamientos:hover img {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#productos-grid {
  height: 700px;
  width: 100%;
  z-index: 999;
  background-color: #ffeef7;
  color: #616161;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#productos-grid h2 {
  font-size: 30px;
  font-family: "Playfair Display", serif;
}

#productos-texto {
  height: 1000px;
  width: 100%;
  background-color: #e7dcdc;
  color: #616161;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#productos-texto .productos-texto__imagen img {
  border-radius: 4%;
}

#productos-texto #productos-texto__conjunto {
  padding-top: 10px;
}

#productos-texto #productos-texto__conjunto h4 {
  padding-bottom: 20px;
  font-family: "Playfair Display", serif;
}

#productos-texto #productos-texto__conjunto p {
  width: 220px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-bottom: 10px;
}

#productos-texto #productos-texto__conjunto .productos-texto__button a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: white;
  width: 100px;
  height: 30px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background-color: #616161;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#productos-texto #productos-texto__conjunto a:hover {
  background-color: #f09dab;
}

.gridGaleria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: 20px 20px;
  grid-gap: 20px;
}

.gridGaleria img {
  border-radius: 2%;
}

.gridGaleria .select {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.gridGaleria .select2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.gridGaleria .gridGaleria__fotos img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.gridGaleria:hover img {
  -webkit-filter: none;
          filter: none;
}

#diseño {
  width: auto;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col-md-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  padding-bottom: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #616161;
}

.col-md-6 h2.card-title {
  font-size: 30px;
  font-family: "Playfair Display", serif;
}

.col-md-6 h5 {
  font-size: 17px;
  font-family: "Playfair Display", serif;
}

.col-md-6 p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding-left: 20px;
}

#diseño-html {
  height: 700px;
  width: auto;
  background-color: #ffeef7;
  color: #616161;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#diseño-html .diseño-html__titulo {
  padding-bottom: 5px;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 30px;
}

#diseñoTextil {
  height: 900px;
  width: 100%;
  background-color: #e7dcdc;
  color: #616161;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#diseñoTextil #diseñoTextil__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 50px;
}

#diseñoTextil #diseñoTextil__texto h2 {
  padding-bottom: 20px;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

#diseñoTextil #diseñoTextil__texto h6 {
  width: 250px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

#diseñoTextil #diseñoTextil__texto p {
  width: 220px;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

#diseñoTextil #diseñoTextil__texto .diseñoTextil__button a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: white;
  width: 100px;
  height: 30px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background-color: #616161;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#diseñoTextil #diseñoTextil__texto a:hover {
  background-color: #f09dab;
}

#diseñoTextil div img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-transition: 2s;
  transition: 2s;
}

#diseñoTextil:hover img {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#contacto {
  height: 700px;
  right: auto;
  z-index: 999;
  background-color: #ffeef7;
  color: #616161;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#contacto h2 {
  font-size: 30px;
  font-family: "Playfair Display", serif;
}

.form {
  padding: 60px 60px;
  margin: 20px 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.form .form-group {
  padding: 1px 0px;
}

.textarea.mensaje#mensaje {
  resize: vertical;
  overflow: auto;
}

.form button, input, optgroup, select, textarea {
  width: 100%;
}

.btn-primary {
  color: white;
  background-color: #f09dab;
  border-color: #f09dab;
}

.btn-primary:hover {
  background-color: #616161;
}

footer {
  height: 380px;
  width: 100%;
  background: #838383;
  color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0px;
}

.footer__iconos:hover img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

#footer h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Playfair Display", serif;
  font-size: 20px;
}

#footer h3:hover {
  color: #ffeef7;
}

#footer .footer__website {
  height: auto;
  width: 200px;
  color: white;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

#navbarNav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#carrousel {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.separator {
  width: 100px;
  height: 1px;
  background: #688073;
  margin-bottom: 20px;
}

#productos:hover img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

@media screen and (min-width: 720px) {
  h1.intro__titulo {
    width: auto;
  }
  #carrousel {
    height: 500px;
    padding: 20px;
  }
  #nosotros {
    height: 700px -150px;
  }
  #nosotros .nosotros__intro p {
    width: 380px;
  }
  #lanzamientos {
    height: 700px;
    padding: 20px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #lanzamientos #texto {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #lanzamientos #texto h2 {
    text-align: left;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  #lanzamientos #texto p {
    width: 300px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
  .gridGaleria {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 450px;
    padding: 50px 80px;
  }
  .gridGaleria .select2 {
    -ms-grid-row: 1;
    grid-row: 1 / 1;
  }
  .nosotros-html__texto {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nosotros-html__texto .nosotros-html__texto2 {
    padding-top: 45px;
  }
  .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .video div.video__subtitulo1 {
    padding-bottom: 300px;
  }
  .video div.video__subtitulo2 {
    padding-top: 300px;
  }
  #productos-texto {
    height: 700px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #productos-texto #productos-texto__conjunto {
    padding-right: 170px;
    padding-top: 0px;
  }
  #diseño .row {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #diseño {
    width: auto;
    height: 700px;
  }
  .col-md-6 {
    width: 400px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    text-align: left;
  }
  .col-md-6 .col-md-6 img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #diseñoTextil {
    height: 800px;
    padding: 20px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #diseñoTextil #diseñoTextil__texto {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #diseñoTextil #diseñoTextil__texto h2, #diseñoTextil #diseñoTextil__texto h6 {
    text-align: left;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  #diseñoTextil #diseñoTextil__texto p {
    width: 300px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__iconos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .form {
    padding: 100px 100px;
    margin: 20px 20px;
  }
}
/*# sourceMappingURL=style.css.map */