#contacto {
    height: $alto-div;
    right: auto;
    z-index: 999;
    background-color: #ffeef7;
    color: rgb(97, 97, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    h2 {
        font-size: $valor-titulo;
        font-family: $tipografia-titulo;
    }
}


.form {
    padding: 60px 60px;
    margin:20px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    .form-group {
        padding: 1px 0px;
    }

}
.textarea.mensaje#mensaje{
    resize: vertical;
    overflow: auto;
   
}

.form button, input, optgroup, select, textarea {
    width: 100%;
}

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: #f09dab;
    border-color: #f09dab;

    &:hover {
		background-color: rgb(97, 97, 97);
	}
}
