
footer {
	height: 300px;
	width: auto;
	background: rgb(131, 131, 131);
	color: rgb(255, 255, 255);
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 50px 70px;
}
    .footer__iconos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
        #ig {
            &:hover {
                color: #f09dab;
            }
        }
    #footer {
        h3 {
            font-family: $tipografia-titulo;
            font-size: 20px;
            &:hover {
                color: #f09dab;
            }
        }
}