
footer {
	height: 380px;
	width: 100%;
	background: rgb(131, 131, 131);
	color: rgb(255, 255, 255);
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
    .footer__iconos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        padding: 0px;
        
    &:hover {
		img {
			transform: scale(0.8);
		}
	  }
    }


    #footer {
        h3 {
            display: flex;
            justify-content: center;
            font-family: $tipografia-titulo;
            font-size: 20px;

            &:hover {
                color: #ffeef7;
            }
        }

        .footer__website {
            height: auto;
            width: 200px;
            color: white;
            font-size: 12px;
            font-family: $tipografia-texto;
            text-align: center;
        
        }
}