@import 'reset';
@import 'variables';
@import 'intro';
@import 'nosotros';
@import 'productos';
@import 'diseño';
@import 'contacto';
@import 'footer';


#navbarNav {
    justify-content: flex-end;
}


#carrousel {
	height: 200px;
    display: flex;
    align-items: center;
	transition: transform 0.3s ease;
}

.separator {
	width: 100px;
	height: 1px;
	background: #688073;
	margin-bottom: 20px;
}

//seccion productos
#productos {
	&:hover {
		img {
			transform: scale(0.9);
			transition: 1.5s;
		}
	}
}


//mediaQueries


@media screen and (min-width:720px) {

	h1.intro__titulo  {
		width: auto;
	}

	#carrousel {
		height: 500px;
		padding: 20px;
	}

	#nosotros {
			height: $alto-div -150px;

		.nosotros__intro p {
			width: 380px;
		}
	}

	
	#lanzamientos {
		height: 700px;
		padding: 20px 20px;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;

		#texto {
			align-items: flex-start;

				h2 {
					text-align: left;
					justify-content: start;
				}
				p {
					width: 300px;
					height: auto;
					display: flex;
					text-align: left;
				}
		
			}
	}

	.gridGaleria {
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: 450px;
		padding: 50px 80px;

		.select2{
			grid-row: 1 / 1;
		}
	}


	.nosotros-html__texto {
		flex-direction: row;

		.nosotros-html__texto2 {
			padding-top: 45px;
		}
	}

	.video {
		display: flex;
		flex-direction: row;
	

		div.video__subtitulo1 {
			padding-bottom: 300px
		}
		
		div.video__subtitulo2 {
			padding-top: 300px

		}
	} 

	#productos-texto {
		height: 700px;
		flex-direction: row;

		#productos-texto__conjunto{
			padding-right: 170px;	
			padding-top: 0px;

		}

	}

    #diseño .row {
        justify-content: space-evenly;
    }


	#diseño {
		width: auto;
		height: 700px;

	}

    .col-md-6 {
        width: 400px;
		height: auto;
        display: flex;
    	flex-direction: column;
		justify-content: center;
    	align-self: center;
		text-align: left;

	.col-md-6 img {
			justify-content: center;
	
		}
   
	}


	#diseñoTextil {
		height: 800px;
		padding: 20px 20px;
		display: flex;
		flex-direction: row;

		#diseñoTextil__texto {
			align-items: flex-start;

				h2, h6  {
					text-align: left;
					justify-content: start;
				}
				p {
					width: 300px;
					height: auto;
					display: flex;
					text-align: left;
				}
		
			}
	}

    .footer__iconos {
        flex-direction: row;
    }

    .form {
        padding: 100px 100px;
        margin:20px 20px;
    }
}